

<div class="jumbotron">
<h1>
 
  <%= @musician.name %>
  <% if current_user.has_role? :band%>
  	<%@cur_band = Band.where(user_id: current_user.id).first%>
  	<%if !@cur_band.musicians.include?(@musician)%>
  	<%= button_to "Invite To Band", bands_musician_req_path(@musician.id), :class => "btn btn-success" %>
  <%end%>
  <%if @cur_band.invited_members.include?(@musician)%>
  	<%= button_to "Cancel Invite", bands_musician_reject_path(BandsMusician.where(band_id: @cur_band.id, musician_id: @musician.id).first.id), :class => "btn btn-danger" %>
  <%end%>
  <%end%>
</h1>


<p>
  <b>Instruments:</b>
  <% @musician.instruments.each do |i| %>
  <%= i.name %>
  <%end%>
</p>

<% if current_user.has_role? :admin%>
	<p>
	  <b>User ID:</b>
	  <%= @musician.user_id  %>
	</p>
<%end%>

	<p>
  <b>Bands:</b>
  <% @musician.bands.each do |b| %>
  <%= b.name %>
  <%end%>
</p>

</div>
<div class="well">
	<% if can? :update, @musician%>
		<%= link_to 'Edit', edit_musician_path(@musician), :class => "btn btn-success" %>
	<%end%>
	
	<% if current_user.has_role? :admin%>
		<%= link_to 'Back', musicians_path, :class => "btn btn-danger" %>
	<%else%>
		<%= link_to 'Back', root_path, :class => "btn btn-danger" %>
	<%end%>
	
	</div>
</div>
<%= render "layouts/footer"%>