

<div class="jumbotron">
<h1>
 
  <%= @musician.name %>
</h1>


<p>
  <b>Instruments:</b>
  <%= @musician.instrument %>
</p>

<% if current_user.has_role? :admin%>
	<p>
	  <b>User ID:</b>
	  <%= @musician.user_id  %>
	</p>
<%end%>

</div>
<div class="well">
	<% if can? :update, @musician%>
		<%= link_to 'Edit', edit_musician_path(@musician), :class => "btn btn-success" %>
	<%end%>
	
	<% if current_user.has_role? :admin%>
		<%= link_to 'Back', musicians_path, :class => "btn btn-danger" %>
	<%else%>
		<%= link_to 'Back', root_path, :class => "btn btn-danger" %>
	<%end%>
	
	</div>
</div>
<%= render "layouts/footer"%>