<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @musician.name %>
</p>

<p>
  <b>Instrument:</b>
  <%= @musician.instrument %>
</p>

<p>
  <b>User:</b>
  <%= @musician.user_id %>
</p>


<% if can? :update, @musician%>
<%= link_to 'Edit', edit_musician_path(@musician) %>
<%end%>

<% if current_user.has_role? :admin%>
	<%= link_to 'Back', musicians_path %>
<%end%>
