<div class="jumbotron">
	<h1>All Events</h1>
	<%= link_to 'New Event', new_event_path, :class => "btn btn-success" %>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Venue</th>
	    <th>Start</th>
	    <th>End</th>
	   <th>Bands</th>
	  </tr>
	
	<% @events.each do |event| %>
	  <tr>
	    <td><%= event.name %></td>
	    <td><%= event.description %></td>
	    <td><%= link_to event.venue.name, event.venue %></td>
	    <td><%= event.start %></td>
	    <td><%= event.end %></td>
	    <td><% event.bands.each do |b|%>
	    	<p><%= link_to b.name, b%></p>
	    	<%end%>
	    </td>
	    <td class="text-center"><%= link_to 'Show', event, :class => "btn-sm btn-success"  %></td>
	    <td class="text-center"><%= link_to 'Edit', edit_event_path(event), :class => "btn-sm btn-info"  %></td>
	    <td class="text-center"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger"  %></td>
	  </tr>
	<% end %>
	</table>
</div>

<%= render 'layouts/footer'%>


