<div class="jumbotron">
	<h1>All Venues</h1>
	<%= link_to 'New Venue', new_venue_path, :class => "btn btn-success" %>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.description %></td>
    <td><%= link_to venue.user_id, venue.user %></td>
    <td class="text-center"><%= link_to 'Show', venue, :class => "btn-sm btn-success" %></td>
    <td class="text-center"><%= link_to 'Edit', edit_venue_path(venue), :class => "btn-sm btn-info" %></td>
    <td class="text-center"><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger" %></td>
  </tr>
<% end %>
</table>
</div>





<%= render 'layouts/footer'%>
