<p id="notice"><%= notice %></p>

<div class="jumbotron">
	<h1>
	  <%= @venue.name %>
	</h1>
	
	<p>
	  
	  <%= @venue.address_1 %>
	</p>
	
	<p>
	  
	  <%= @venue.address_2 %>
	</p>
	
	<p>
	 
	  <%= @venue.post_code %>
	</p>
	
	<p>
	  
	  <%= @venue.description %>
	</p>
	
	<% if current_user.has_role? :admin%>
	<p>
	  <b>User ID:</b>
	  <%= @venue.user_id  %>
	</p>
	<%end%>
</div>	

<div class="well">
	<% if can? :update, @venue%>
	<%= link_to 'Edit', edit_venue_path(@venue), :class => "btn btn-info" %>
	<%end%>
	
	<% if current_user.has_role? :admin%>
		<%= link_to 'Back', venues_path, :class => "btn btn-danger" %>
	<%end%>
</div>	


<%= render "layouts/footer"%>
