<div class="jumbotron">
	<h1>All Bands</h1>
	<%= link_to 'New Band', new_band_path, :class => "btn btn-success" %>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
	  <tr>
	    <th>Name</th>
	    <th>Owner</th>
	    <th>Members</th>
	    <th>Invited</th>
	   
	  </tr>
	
	<% @bands.each do |band| %>
	  <tr>
	    <td><%= band.name %></td>
	    <td><%= link_to band.user.name, band.user %></td>
	    <td><% band.musicians.each do |m|%>
	    	<p><%= link_to m.name, m%></p>
	    	<%end%>
	    </td>
	    
	    <td class="text-center"><%= link_to 'Show', band,:class => "btn-sm btn-success" %></td>
	    <td class="text-center"><%= link_to 'Edit', edit_band_path(band),:class => "btn-sm btn-info" %></td>
	    <td class="text-center"><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn-sm btn-danger"  %></td>
	  </tr>
	<% end %>
	</table>
</div>





<%= render 'layouts/footer'%>
