<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Description:</b>
  <%= @band.description %>
</p>

<p>
  <b>User:</b>
  <%= @band.user_id %>
</p>

<p>
  <b>Members:</b>
  <% @band.musicians.each do |m| %>
  	<%= link_to m.name, m %>
  <% end %>
  
</p>


<% if can? :update, @band%>
<%= link_to 'Edit', edit_band_path(@band) %>
<%end%>

<% if current_user.has_role? :admin%>
	<%= link_to 'Back', bands_path %>
<%end%>
