
<div class="jumbotron">
	<h1>
	  
	  <%= @band.name %>
	</h1>

	<p>
	  <%= @band.description %>
	</p>
	
	<% if current_user.has_role? :admin%>
	<p>
	  <b>User ID:</b>
	  <%= @band.user_id  %>
	</p>
	<%end%>

	
	<p>
	  <b>Members:</b>
	  <% @band.get_members.each do |m| %>
	  	<%= link_to m.name, m %>
	  <% end %>
	  
	</p>
</div>

<div class="well">
	<% if can? :update, @band%>
	<%= link_to 'Edit', edit_band_path(@band), :class => "btn btn-info"%>
	<%end%>
	
	<% if current_user.has_role? :admin%>
		<%= link_to 'Back', bands_path, :class => "btn btn-danger"%>
	<%else%>
		<%= link_to 'Back', root_path, :class => "btn btn-danger" %>
	<%end%>
</div>


<%= render "layouts/footer"%>

