
<div class="jumbotron">	
	<h1>All Instruments</h1>
	<%= link_to 'New Instrument', new_instrument_path, :class => "btn btn-success" %>
</div>
<div class="table-responsive">
	<table class="table table-bordered">
	  <tr>
	    <th>Name</th>
	  </tr>
	
	<% @instruments.each do |instrument| %>
	  <tr>
	    <td><%= link_to instrument.name, instrument %></td>
	    <td class="text-center"><%= link_to 'Show', instrument, :class => "btn-sm btn-success" %></td>
	    <td class="text-center"><%= link_to 'Edit', edit_instrument_path(instrument), :class => "btn-sm btn-info" %></td>
	    <td class="text-center"><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger" %></td>
	  </tr>
	<% end %>
	</table>
</div>

<%= render 'layouts/footer'%>