
<div class="jumbotron">
<h1>
  <%= @instrument.name %>
</h1>

</div>
<div class="well">
	<% if can? :update, @instrument%>
		<%= link_to 'Edit', edit_instrument_path(@instrument), :class => "btn btn-success" %>
	<%end%>
	
	<% if current_user.has_role? :admin%>
		<%= link_to 'Back', instruments_path, :class => "btn btn-danger" %>
	<%else%>
		<%= link_to 'Back', root_path, :class => "btn btn-danger" %>
	<%end%>
	
	</div>
</div>
<%= render "layouts/footer"%>