<%@current_musician = Musician.where(:user_id => current_user.id).first %> 
<h1>Hello, <%= @current_musician.name %></h1>
<% if @current_musician.instrument.blank? %>
	<p>You play no instrument? propostorous! <%= link_to 'Change This', edit_musician_path(@current_musician)%></p>
<% else %>
	<p><%= @current_musician.instrument %> <%= link_to 'Change This', edit_musician_path(@current_musician)%></p>
<% end %>
<hr>
<h2>Bands</h2>

<% @bands = @current_musician.bands %>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
    		<tr>
      			<th>Name</th>
      			<th>Owner</th>
      			<th>Members</th>
    		</tr>
  		</thead>
  		
  		<tbody>
  			<%@bands.each do |b|%>
  			<%@band_owner = b.musicians.where(:user_id => b.user_id).first%>
    		<tr>
      			<td rowspan=<%=b.musicians.count.to_s%>><%= link_to b.name, b %></td>
      			<td rowspan=<%=b.musicians.count.to_s%>>
      				<%if @band_owner.id != @current_musician.id%>
      					<p><%= link_to @band_owner.name, @band_owner %></p>
  					<%else%>
						<p><%= link_to "You", @current_musician %></p>
					<%end%>
      				</td>
      			<td>
      				
      			<% b.musicians.each do |m| %>
      				
      				<%if m.id != @current_musician.id%>
      					<p><%= link_to m.name, m %></p>
  					<%else%>
						<p><%= link_to "You", m %></p>
					<%end%>
  
      			<%end%>
      			</td>
    		</tr>
    		<%end%>
  		</tbody>
	</table>
</div>

<hr>
<%@events = []%>
<%@bands.each do |b|%>
	<%b.events.each do |e|%>
		<%@events << e%>
	<%end%>
<%end%>	
<div class="table-responsive">
	<%= calendar @events do |event| %>
  <div><%= link_to event.name + " | " + event.start.strftime("%I:%M%p"), event %></div>
  </div>
<% end %>




