<%@current_musician = Musician.where(:user_id => current_user.id).first %> 
<h1>Hello, <%= @current_musician.name %></h1>
<% if @current_musician.instrument.blank? %>
	<p>You play no instrument? propostorous! <%= link_to 'Change This', edit_musician_path(@current_musician)%></p>
<% else %>
	<p><%= @current_musician.instrument %> <%= link_to 'Change This', edit_musician_path(@current_musician)%></p>
<% end %>
<hr>
<h2>Bands</h2>

<% @bands = @current_musician.bands %>

	<table class="table table-bordered">
		<thead>
    		<tr>
      			<th>Name</th>
      			<th>Owner</th>
      			<th>Members</th>
    		</tr>
  		</thead>
  		
  		<tbody>
  			<%@bands.each do |b|%>
    		<tr>
      			<td rowspan=<%=b.musicians.count.to_s%>><%= b.name %></td>
      			<td rowspan=<%=b.musicians.count.to_s%>><%= Musician.where(:user_id => b.user_id).first.name %></td>
      			<td>
      				
      			<% b.musicians.each do |m| %>
      				
      				<p><%= m.name %></p>
  
      			<%end%>
      			</td>
    		</tr>
    		<%end%>
  		</tbody>
	</table>

<hr>
<%@events = []%>
<%@bands.each do |b|%>
	<%b.events.each do |e|%>
		<%@events << e%>
	<%end%>
<%end%>	

	<%= calendar @events do |event| %>
  <div><%= link_to event.name + " | " + event.start.strftime("%I:%M%p"), event %></div>
<% end %>


