<%@current_musician = Musician.where(:user_id => current_user.id).first %> 
<div class="jumbotron">
	<h1>Hello, <%= @current_musician.name %></h1>
	<% if @current_musician.instruments.blank? %>
		<p>You play no instrument? propostorous!</p>
	<% else %>
		<p>Instruments: <% @current_musician.instruments.each do |i| %>
			<%= i.name %>
			<%end%>
		</p>
	<% end %>
	<%= link_to 'Edit', edit_musician_path(@current_musician), :class => "btn btn-info"%>
</div>

<div class="page-header">
  <h1>Band Invites</h1>
</div>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
	    		<tr>
	      			<th>Band</th>
	    		</tr>
	  		</thead>
	  		
	  		<tbody>
	  			<%@current_musician.invited_bands.each do |b|%>
	  			
	  			
  

	    		<tr>
	      			<td><%= link_to b.name, b%></td>
	      			
	      			
	    			<td class="text-center"><%= button_to "Accept", bands_musician_accept_path(BandsMusician.where(band_id: b.id, musician_id: @current_musician.id).first.id), :class => "btn btn-sm btn-success" %> </td>
	    			<td class="text-center"><%= button_to "Reject", bands_musician_reject_path(BandsMusician.where(band_id: b.id, musician_id: @current_musician.id).first.id), :class => "btn btn-sm btn-danger" %> </td>
	    			
	    			
	      			
	    		</tr>
	    		
	    		<%end%>
	  		</tbody>
		</table>
	</div>

	<div class="page-header">
  <h1>Bands</h1>
</div>
	
	<% @bands = @current_musician.member_bands %>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
	    		<tr>
	      			<th>Name</th>
	      			<th>Owner</th>
	      			<th>Members</th>
	    		</tr>
	  		</thead>
	  		
	  		<tbody>
	  			<%@bands.each do |b|%>
	  			<%@band_owner = b.musicians.where(:user_id => b.user_id).first%>
	    		<tr>
	      			<td rowspan=<%=b.musicians.count.to_s%>><%= link_to b.name, b %></td>
	      			<td rowspan=<%=b.musicians.count.to_s%>>
	      				<%if @band_owner.id != @current_musician.id%>
	      					<p><%= link_to @band_owner.name, @band_owner %></p>
	  					<%else%>
							<p><%= link_to "You", @current_musician %></p>
						<%end%>
	      				</td>
	      			<td>
	      				
	      			<% b.musicians.each do |m| %>
	      				
	      				<%if m.id != @current_musician.id%>
	      					<p><%= link_to m.name, m %></p>
	  					<%else%>
							<p><%= link_to "You", m %></p>
						<%end%>
	  
	      			<%end%>
	      			</td>
	      			<%if @band_owner == @current_musician%>
	    				<td class="text-center"><%= link_to 'Edit', edit_band_path(b), :class => "btn-sm btn-info" %></td>
	    				<td class="text-center"><%= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger" %></td>
	      			<%end%>
	    		</tr>
	    		<%end%>
	  		</tbody>
		</table>
	</div>


<%@events = []%>
<%@bands.each do |b|%>
	<%b.events.each do |e|%>
		<%@events << e%>
	<%end%>
<%end%>	

	<div class="page-header">
  <h1>Events</h1>
</div>
	<div class="table-responsive">
		<%= calendar @events do |event| %>
	  	<div><%= link_to event.name + " | " + event.start.strftime("%I:%M%p"), event %></div>
	  	<% end %>
	</div>




<%=render 'layouts/footer'%>
