<%@current_musician = Musician.where(:user_id => current_user.id).first %> 
<h1>Hello, <%= @current_musician.name %></h1>
<% if @current_musician.instrument.blank? %>
	<p>You play no instrument? propostorous! <%= link_to 'Change This', edit_musician_path(@current_musician)%></p>
<% else %>
	<p><%= @current_musician.instrument %></p>
<% end %>

<hr>
<%@events = []%>
<%@current_musician.bands.each do |b|%>
	<%b.events.each do |e|%>
		<%@events << e%>
	<%end%>
<%end%>	

	<%= calendar @events do |event| %>
  <div><%= link_to event.name + " | " + event.start.strftime("%I:%M%p"), event %></div>
<% end %>

